.App {
  text-align: center;
}

/* // HEADER */


h1 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 35px;
  color: rgb(94, 94, 94);
  letter-spacing: 2px;
  padding: 0;
  margin: 0
}

h2 {
  font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    color: rgb(94, 94, 94);
    letter-spacing: 2px;
    padding: 0;
    margin: 0
}

h3 {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(94, 94, 94);
  font-size: 25px;
  padding: 0;
  margin: 0
}

p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  h2{
    padding: 0 30px;
  }
  img {
    padding: 40px 300px;
  }
}

/* // CAROUSEL */
.carousel-item {
  padding: 0px 5px;
}

/* //ABOUT */

.about {
  padding: 80px;

  h1 {
    padding: 20px;
  }

  .bold {
    font-weight: 500;
  }
  p {
    padding: 10px 300px;
    
  }

  .styled-line {
    border: none;
    border-top: 1px solid rgb(182, 182, 182);
    margin: 0px auto;
    padding-bottom: 20px;
    width: 30%;
  }
}
